<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<h2>show my results here</h2>
   <!--
   <% results.cards.forEach(function(r) { %>
      <p>name: <%= r.name %></p>
      <p>set: <%= r.set %></p>
      <p>imageUrl: <img src="<%= r.imageUrl %>"></img></p>
   <% }); %>
   -->

   <p>length: <%= results.cards.length %></p>
   <% for (var xx=0; xx < results.cards.length; xx++) { %>
      <p>xx: <%= xx %></p>
   <% } %>
</body>
</html>
